/*stylesheet*/

body {
	margin:20px;
	background:black;
	color:white;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	
}

h1,h2,h3,h4{
	margin-top: 0;
	margin-bottom: 1em;
}

h1{
	font-weight: 300;
}

h2{
	font-weight: 200;
}

#wrapper {
	margin: 2em auto;
	max-width: 1200px;
	padding: 0 2em;
}

#main {
	background: 100%;
	background:grey;
	margin: 2em;
	padding: 2em;
}

#sidebar {
	background: pink;
}

#content {
	background: purple;
}

@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}
}