/*stylesheet*/

body {
	margin:20px;
	background-image: url("bg.jpg");
	color:white;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	
}

h1,h2,h3,h4{
	margin-top: 0;
	margin-bottom: 1em;
}

h1{
	font-weight: 400;
}

h2{
	font-weight: 200;
}

#wrapper {
	margin: 2em auto;
	max-width: 1200px;
	padding: 0 2em;
}

#main {
	background: 100%;
	background-image: url("bg2.jpg");
	margin: 2em;
	padding: 2em;
}

#sidebar {
	/*background: beige;*/
}

#logo {
	padding: 3em 0;
}

#logo h1 {
	margin: 0;
}

#logo img, .item img {
	width: 100%;
	height:auto;
}

.item img {
	margin: 2em;
}

#content {
	font-size: 28pt;
}

#nav ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

#nav li {
	margin-bottom: 1em;
}

@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

	#logo {
		text-align: center;
		padding: 2em 0;
	}

	#nav ul {
		display: flex;
		justify-content: space-between;
	}

	#nav li {
		display: inline;
		padding: .25em;
		background: white;
		margin-bottom: 0;
	}
}


#project1 {
	margin: 0;
}

#project1 img, .item img {
	width: 100%;
	height:auto;
}

.item img {
	margin: 4em;
}

